# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
.venv/
venv/
env/

# Node
node_modules/
dist/
.next/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Local Notes
ignore/
